# Database config
DATABASE_URL="postgresql://postgres:root@localhost:5432/ambiflora-db?schema=public"

# JWT Auth
JWT_PRIVATE_KEY=""
JWT_PUBLIC_KEY=""

# Redis (Bull/Queue)
REDIS_URL="redis://localhost:6380"

# Mailer (Mailpit)
SMTP_HOST="localhost"
SMTP_PORT=1025